body {
background-image: url(https://wallpapercave.com/wp/GjrkLhP.jpg);    
background-size: cover;
}

.banner {
    font-family: 'Architects Daughter', cursive;

}

h1 {
    color: white;
    text-align: left;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-family: cursive;
}

u {
    color: chartreuse;
}
p {
    color: white;
    font-size: 1.5rem;
}

.miNav li {
    display: inline-block;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.banner__miNav {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: center;
}

.miNav button {
    background-color: white;
}

.miFooter {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.miFooter a {
    color: white;
    margin: 20px;
    text-decoration: none;
}

.skillsAprendidos {
    display: grid;
    grid-template-areas:
        "skills proximosSkills"
        "aprendidos proximos";
    font-family: 'Roboto', sans-serif;
    color: white;
}

.skills {
    grid-area: skills;
    background-color: rgb(17, 32, 49);
    color: white;
    border-radius: 90rem;
    text-align: center;
    font-size: 150%;
}

.proximosSkills {
    grid-area: proximosSkills;
    background-color: rgb(17, 32, 49);
    color: white;
    border-radius: 90rem;
    text-align: center;
    font-size: 150%;
}

.aprendidos {
    grid-area: aprendidos;
    background-color: transparent;
    color: white;
    border-radius: 90rem;
    text-align: center;
    font-size: 50px;
}


.proximos {
    grid-area: proximos;
    background-color: transparent;
    border-radius: 90rem;
    color: white;
    text-align: center;
    font-size: 50px;
}

.form-label {
    color: blanchedalmond;
}

.card-text {
    color: black;
    font-size: 1rem;
}

.card {
margin: 5rem;

}
.formTamaño {
    width: 50%;
    margin: 2rem;
}

.logo {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
}

.logo1 {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 2rem;
}

.misSkills__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.misSkills {
    margin-bottom: 2rem;
}

.ubicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cursos__realizados {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ecomm__manager {
    float: right;
}

.conteiner {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(6, 100px);
    grid-gap: 1rem;
    grid-template-areas: "header header"
                          "main main"
                          "footer footer "
    ;
} 